button{
    background-color: #E8833A;
    border: none;
    border-radius: 3px;

    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;

    display: flex;
    align-items: center;
    justify-content: center;
}