body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

*{
    box-sizing: border-box;
}

main{
    width: 380px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 380px) {
    main{
        max-width: 100vw;
    }
}