body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

*{
    box-sizing: border-box;
    text-decoration: none;
}

main{
    width: 100vw;
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
}

button{
    cursor: pointer;
}

@media (min-width: 500px) {
    main{
        width: 500px;
    }
}
